bin/
obj/
.publish/
publish/
.vs/
.idea/
!SAMERIDER.sln
!src/SAMERIDER.App/
!src/SAMERIDER.App/**
!src/SAMERIDER.Core/
!src/SAMERIDER.Core/**
!src/SAMERIDER.Browser/
!src/SAMERIDER.Browser/**
!tests/
!tests/SAMERIDER.Core.Tests/
!tests/SAMERIDER.Core.Tests/**
!scripts/
!scripts/*.sh
!scripts/*.ps1
src/**/bin/
src/**/obj/
tests/**/bin/
tests/**/obj/
